
// Shared variables and mixins
@import 
    "global/var"                        // global variables
,   "bootstrap/bootstrap/mixins"        // Bootstrap mixins
,   "bourbon/bourbon"                   // mixins
;


@import 
    // Plugins, overrides plugins' style
    "plugins/bootstrap-slider"
,   "plugins/responsive-tables"
,   "plugins/easypiecharts"
,   "plugins/toastr"
,   "plugins/sparkline"
,   "plugins/jquery-steps"
,   "plugins/angular-ui-tree"
,   "plugins/morris"
,   "plugins/jqvmap"
,   "plugins/ng-tags-input"

    // Pages
,   "global/var-pages"
,   "pages/dashboard"
,   "pages/pages"
,   "pages/err"
,   "pages/lock-screen"
,   "pages/tasks"
,   "pages/auth"
,   "pages/profile"
,   "pages/ui"
,   "pages/invoice"
,   "pages/demo"

    // sections
,   "sections/layouts"
,   "sections/shared"
,   "sections/nav"
,   "sections/nav-off-canvas"
,   "sections/nav-horizontal"
,   "sections/nav-min"
,   "sections/header"
,   "sections/body"
;
// Centers navbar text and links
.line {line-height: 42px}
.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '4 .column.column-1-2';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-4 {
  width: 24%;
  margin-right:1%;
}

.deckgrid .column-1-2 {
  width: 48%;
  margin-right:1%;
}

@media screen and (max-width: 480px){
  .deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
  }

  .deckgrid .column-1-1 {
    width: 100%;
  }
}