<div class="panel panel-default">
<!-- NEW PRODUCT -->
<h2 ng-click="showNewService = !showNewService" class="well"> <span class="fa fa-rocket"></span> New Service</h2>
<section ng-show="showNewService === true">
    <!-- NEW TITLE -->
    <div class="panel-body ng-scope">
        <h1><input type="text" ng-model="serviceTitle" placeholder="New Service Title"/></h1>
    </div>
    <!-- New Description -->
    <div class="panel panel-default">
        <div class="panel-heading"><strong> <span class="fa fa-paint-brush"></span> Service Description</strong></div>
        <div class="panel-body">
            <div text-angular="" ng-model="serviceText" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
            <textarea ng-show="showHtml" ta-bind="ta-bind" ng-model="serviceText" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
            </textarea>
        </div>
    </div>
    <!-- NEW VARIATIONS -->
    <div class="panel panel-default clearfix">
        <div class="panel-heading" ng-click="showVariations = !showVariations"><strong> <span class="fa fa-search"></span> Add Service Variations</strong></div>
        <div class="panel-body" ng-init="serviceVariations=['No Variations']" ng-show="showVariations === true">
            <div class="col-xs-12 clearfix">
                <div class="form-group">Variation Title: <input class="form-control col-sm-12" data-ng-model="newServiceVariation.name"></div>
                <div class="form-group">Variation Description:<textarea class="form-control col-sm-12" data-ng-model="newServiceVariation.description"></textarea></div>
            </div>
            <div class="col-xs-12">
                <button class="btn" ng-click="api.addVariation(newServiceVariation,serviceVariations);newServiceVariation=[] ">Add Variation
                </button>
            </div>
            <div class="clearfix" >
                <table class="table table-bordered" ng-show="serviceVariations[0]!== 0 && serviceVariations[0]!=='No Variations'">
                    <thead>
                    <tr>
                        <th>Remove</th>
                        <th>Variation Name</th>
                        <th>Variation Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="variation in serviceVariations track by $index">
                        <td ng-click="api.removeVariation($index, $parent.serviceVariations)"><button>X</button></td>
                        <td><input ng-model="variation.name" class="col-xs-8"></td>
                        <td><textarea data-ng-model="variation.description" class="col-xs-12"></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- NEW MEDIA -->
    <div class="panel panel-default clearfix">
        <div class="panel-heading" ng-click="showMedia = !showMedia"><strong> <span class="fa fa-photo"></span> Media</strong>

        </div>
        <div class="col-xs-6" ng-repeat="media in $parent.media">{{media.mediaURL}}<img ng-src="{{$parent.api.show.media.$getRecord(media).mediaURL}}" width="100%" ng-click="api.removeContentMedia($parent.$parent.media, media)">
        </div>
        <div class="panel-body" ng-show="showMedia === true">

            <div class="col-xs-2 well" ng-repeat="image in api.show.media| filterOut: $parent.media">{{image.mediaURL}} <img ng-click="addContentMedia($parent.api.show.media, image.$id, $parent.media)" ng-src="{{image.mediaURL}}" width="100%"> </div>
        </div>
    </div>
    <!-- Attach Articles -->

    <!-- Articles -->


    <div class="clearfix panel panel-default">
        <div class="col-xs-3 panel-body" ng-repeat="article in articles track by $index" ng-click="showOptions = true">
            <div ng-show="showOptions" ng-click="$parent.removeContentArticles($parent.articles, article);">Remove Article</div>

            <p>url: {{api.show.articles.$getRecord(article).articleURL}}</p>
            <div ng-if="($index+1) % 4 === 0" class="clearfix"></div>
        </div>
    </div>

    <div class="panel panel-default clearfix">
        <div class="panel-heading" ng-click="showArticles = !showArticles"><strong> <span class="fa fa-book"></span> Attach Articles</strong></div>
        <div class="panel-body" ng-show="showArticles === true">
            <div class="col-xs-4 well" ng-repeat="article in api.show.articles | filterOut:articles">{{article}} <button ng-click="addContentArticles($parent.api.show.articles, article.$id, $parent.articles)">{{article.title}}</button> </div>
        </div>
    </div>
    <!-- SAVE NEW PRODUCT -->
    <div class="well clearfix">
        <button class="btn btn-behance col-xs-12" ng-click="saveService(serviceTitle, serviceText, serviceVariations, media, articles)"><h3><span class="fa fa-cloud-upload"></span> Save New Service</h3></button>
    </div>
</section>
<!-- Services -->
<h2 class="well" ng-click="showNewService = !showNewService"><span class="fa fa-rocket"></span> Services</h2>
<section ng-show="showNewService !== true">

    <div class="panel-body">
        <div ng-repeat="service in api.show.services">
            <!-- TITLE -->
            <h3 class="panel-heading" ng-click="editTitle = true">
                <div ng-hide="editTitle===true">{{service.title}}</div>
                <input ng-show="editTitle===true" ng-model="service.title" ng-blur="updateServiceTitle(service.$id,service.title);editTitle=false;">
            </h3>
            <!-- DESCRIPTIONS -->
            <div class="panel-body">
                <div text-angular="" ng-init="html = service.description;" ng-model="service.description" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                <textarea ng-init="html = service.description" ng-show="showHtml" ta-bind="ta-bind" ng-model="service.description" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                </textarea>
            </div>
            <!-- VARIATIONS -->
            <div class="panel-body">
                <div class="panel panel-default clearfix">
                    <div class="panel-heading" ng-click="showVariations = !showVariations"><strong> <span class="fa fa-search"></span> Add Variations</strong></div>
                    <div class="panel-body" ng-show="showVariations === true">
                        <div>Variation Title:</div><input class="col-sm-12" data-ng-model="newServiceVariation.name">
                        <div>Variation Description:</div><textarea class="col-sm-12" data-ng-model="newServiceVariation.description"></textarea>
                        <button ng-click="api.addVariation(newServiceVariation,service.variations);newServiceVariation=[] ">Add Service Variation</button>
                    </div>
                </div>
                <div class="clearfix" >
                    <table class="table table-bordered" ng-show="service.variations[0]!=='No Variations'">
                        <thead>
                        <tr>
                            <th>Remove</th>
                            <th>Variation Name</th>
                            <th>Variation Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="variation in service.variations track by $index">
                            <td ng-click="api.removeVariation($index, $parent.service.variations)"><button>X</button></td>
                            <td><input ng-model="variation.name" class="col-xs-8"></td>
                            <td><textarea data-ng-model="variation.description" class="col-xs-12"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <p><div>ID:</div><pre>{{service.$id}}</pre></p>
                <div>URL:</div><pre><code>{{service.serviceURL}}</code></pre>
                <!-- Media -->
                <div class="clearfix panel panel-default">
                    <div class="col-xs-3 panel-body" ng-repeat="media in service.media" ng-click="showOptions = true">
                        <div ng-show="showOptions" ng-click="$parent.removeContentMedia($parent.service.media, media);">Remove Image</div>
                        <img ng-src="{{$parent.api.show.media.$getRecord(media).mediaURL}}" width="100%">
                        <div ng-if="($index+1) % 4 === 0" class="clearfix"></div>
                    </div>
                </div>
                <div class="panel panel-default clearfix">
                    <h3 class="panel-heading" ng-click="addMoreMedia = !addMoreMedia"><span class="fa fa-photo"></span> Add more media</h3>
                    <div class="col-xs-2 panel-body" ng-show="addMoreMedia===true" ng-repeat="image in api.show.media | filterOut: service.media">
                        <img ng-click="$parent.addContentMedia($parent.api.show.media, image.$id, $parent.service.media)" ng-src="{{image.mediaURL}}" width="100%" style="float:left">
                    </div>
                    <div ng-if="($index+1) % 5 === 0" class="clearfix"></div>
                </div>

                <!-- Articles -->


                <div class="clearfix panel panel-default">
                    <div class="col-xs-3 panel-body" ng-repeat="article in service.articles track by $index" ng-click="showOptions = true">
                        <div ng-show="showOptions" ng-click="$parent.removeContentArticles($parent.service.articles, article);">Remove Article</div>

                        <p>url: {{api.show.articles.$getRecord(article).articleURL}}</p>
                        <div ng-if="($index+1) % 4 === 0" class="clearfix"></div>
                    </div>
                </div>


                <div class="panel panel-default clearfix" >
                    <h3 class="panel-heading" ng-click="addMoreArticles = !addMoreArticles">
                        <span class="fa fa-photo"></span> Add more articles</h3>
                    <div
                            class="col-xs-6 panel-body"

                            ng-show="$parent.addMoreArticles===true"
                            ng-repeat="article in api.show.articles | filterOut: service.articles"
                            >

                        <div>
                            <button
                                    ng-click="api.addContentArticles(api.show.articles, article.$id, $parent.service.articles);"
                                    >{{article.articleURL}}</button>
                        </div>

                    </div>


                </div>
                <div ng-if="($index+1) % 5 === 0" class="clearfix"></div>
            </div>
            <div class="clearfix">
                <button class="btn btn-behance col-xs-12 clearfix" ng-click="api.updateService(service.$id, service.description, service.variations, service.media, service.articles)"><h3><span class="fa fa-send"></span> Update Service</h3></button>
                <hr class="col-xs-12">
                <div class="panel panel-default pull-right" ng-init="removeService = false;">
                    <div ng-show="!removeService" ng-click="removeService = !removeService" class="panel-heading"><span class="fa fa-remove"></span> Remove Service</div>
                    <div ng-show="removeService">
                        <a href ng-show="!removeService" ng-click="removeService = true">Remove Service</a>
                        <a ng-show="removeService" ng-click="api.removeService(service.serviceURL, service.$id)" class="btn btn-primary" role="button">Yes, remove this service.</a>
                        <a ng-show="removeService" ng-click="removeService = false"class="btn btn-default" role="button">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Update Service -->

    </div>

</section>
</div>