<div class="page" data-ng-controller="aboutCtrl">

    <section class="panel panel-default">

        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> About</strong></div>
        <div class="panel-body">

            <section class="panel panel-box">
                <div class="panel-top bg-primary">
                    <div class="text-center">
                        <h3 class="ng-binding">Bryce Masuk</h3>
                        <p>Principle</p>
                    </div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>
                </div>
                <div class="panel-img bg-primary">
                    <img alt="" src="images/b1.png" class="img-circle">
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">679</p>
                            <p class="text-muted">Tweets</p>
                        </li>
                        <li>
                            <p class="size-h3">575</p>
                            <p class="text-muted">Followers</p>
                        </li>
                        <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Following</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> About</strong></div>
                <div class="panel-body">
                    <div ng-repeat="about in showMe">
                            <p ng-bind-html="about.description"></p>
                    </div>
                </div>
            </section>

        </div>
    </section>

</div>