<div class="col-xs-12" >
    <h1>Admin</h1>
    <div>
        <div class="ui-tab-container  ui-tab-dark">
            <tabset class="ui-tab">
                <tab heading="Home">
                    <div ng-include="'views/admin/home-admin.html'"></div>
                </tab>
                <tab heading="About">
                    <div ng-include="'views/admin/about-admin.html'"></div>
                </tab>
                <tab heading="Services">
                    <div ng-include="'views/admin/services-admin.html'"></div>
                </tab>
                <tab heading="teas">
                    <div ng-include="'views/admin/teas-admin.html'"></div>
                </tab>
                <tab heading="Clients">
                    <div ng-include="'views/admin/clients-admin'"></div>
                </tab>
                <tab heading="Articles">
                    <div ng-include="'views/admin/articles-admin.html'"></div>
                </tab>
                <tab heading="Media">
                    <div ng-include="'views/admin/media-admin.html'"></div>
                </tab>
                </tabset>
        </div>
    </div>
</div>