<div class="col-xs-12" >
    <h1>Site Admin</h1>
    <div>
        <div class="ui-tab-container  ui-tab-dark">
            <tabset class="ui-tab">
                <tab heading="Home">
                    <div class="panel">Home</div>
                </tab>
                <tab heading="About">
                    <div class="panel">
                        <h2>About</h2>
                        <section class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> About</strong></div>
                            <div class="panel-body">
                                <div text-angular="" ng-init="html = $parent.aboutHTML[0].description;" ng-model="$parent.aboutHTML[0].description" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                                <textarea ng-init="html = $parent.aboutHTML[0].description" ng-show="showHtml" ta-bind="ta-bind" ng-model="$parent.aboutHTML[0].description" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                                </textarea>
                            </div>
                        </section>
                        <section>
                            <button ng-click="updateAbout($parent.aboutHTML[0].$id, $parent.aboutHTML[0].description)">Save</button> {{saved}}
                        </section>
                    </div>
                </tab>
                <tab heading="Services">
                    <div class="panel">
                        <h2>New Service</h2>
                        <div class="panel-heading">
                            <strong><span class="glyphicon glyphicon-th"></span> Service Title</strong>
                        </div>
                        <div class="panel-body ng-scope">
                            <input type="text" ng-model="serviceTitle" placeholder="Service Title"/>
                        </div>

                        <section class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Service Description</strong></div>
                            <div class="panel-body">
                                <div text-angular="" ng-model="serviceText" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                                <textarea ng-show="showHtml" ta-bind="ta-bind" ng-model="serviceText" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                                </textarea>
                            </div>
                        </section>
                        <section>
                            <button ng-click="saveService(serviceTitle, serviceText)">Save</button>
                        </section>
                        <div class="panel-body" ng-controller="servicesCtrl">
                            <div ng-repeat="service in showMe">
                                <div class="panel-heading" ng-click="editTitle = true">
                                    <div ng-hide="editTitle===true">{{service.title}}</div>
                                    <input ng-show="editTitle===true" ng-model="service.title" ng-blur="updateServiceTitle(service.$id,service.title);editTitle=false;">
                                </div>
                                <div class="panel-body">
                                    <div text-angular="" ng-init="html = service.description;" ng-model="service.description" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                                    <textarea ng-init="html = service.description" ng-show="showHtml" ta-bind="ta-bind" ng-model="service.description" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                                    </textarea>
                                </div>
                                <section>
                                    <button ng-click="updateService(service.$id, service.description)">Save</button>
                                </section>
                                    <div class="panel-footer" ng-init="removeService = false;">
                                        <a href ng-show="!removeService" ng-click="removeService = true">Remove Service</a>
                                        <a href="javascript:;" ng-show="removeService" ng-click="api.removeService(service.serviceURL, service.$id)" class="btn btn-primary" role="button">Yes, remove this service.</a>
                                        <a href="javascript:;" ng-show="removeService" ng-click="removeService = false"class="btn btn-default" role="button">Cancel</a>
                                        <p><div>ID:</div><pre>{{service.$id}}</pre></p>
                                        <div>URL:</div><pre><code>{{service.serviceURL}}</code></pre>
                                    </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Clients">
                    <div class="panel">
                        <h2>New Client</h2>
                        <div class="panel-heading">
                            <strong><span class="glyphicon glyphicon-th"></span> Client Title</strong>
                        </div>
                        <div class="panel-body ng-scope">
                            <input type="text" ng-model="clientTitle" placeholder="Client Title"/>
                        </div>

                        <section class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Client Description</strong></div>
                            <div class="panel-body">
                                <div text-angular="" ng-model="clientText" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                                <textarea ng-show="showHtml" ta-bind="ta-bind" ng-model="clientText" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                                </textarea>
                            </div>
                        </section>
                        <section>
                            <button ng-click="saveClient(clientTitle, features, clientText)">Save</button>
                        </section>
                        <div class="panel-body" ng-controller="clientsCtrl">
                            <div ng-repeat="client in showMe">
                                <div class="panel-heading" ng-click="editTitle = true">
                                    <div ng-hide="editTitle===true">{{client.title}}</div>
                                    <input ng-show="editTitle===true" ng-model="client.title" ng-blur="updateClientTitle(client.$id,client.title);editTitle=false;">
                                </div>
                                    <p ng-bind-html="client.description"></p>
                                    <div class="panel-body">
                                        <div text-angular="" ng-init="html = client.description;" ng-model="client.description" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                                        <textarea ng-init="html = client.description" ng-show="showHtml" ta-bind="ta-bind" ng-model="client.description" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                                        </textarea>
                                    </div>
                                    <div class="panel-footer" ng-init="removeClient = false;">
                                        <a href ng-show="!removeClient" ng-click="removeClient = true">Remove Client</a>
                                        <a href="javascript:;" ng-show="removeClient" ng-click="api.removeClient(client.clientURL, client.$id)" class="btn btn-primary" role="button">Yes, remove this client.</a>
                                        <a href="javascript:;" ng-show="removeClient" ng-click="removeClient = false"class="btn btn-default" role="button">Cancel</a>
                                        <section>
                                            <button ng-click="updateClient(client.$id, client.description)">Save</button>
                                        </section>
                                        <p><div>ID:</div><pre>{{client.$id}}</pre></p>
                                        <div>URL:</div><pre><code>{{client.clientURL}}</code></pre>
                                    </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Articles">
                    <div class="panel">
                        <h2>New Article</h2>
                        <div class="panel-heading">
                            <strong><span class="glyphicon glyphicon-th"></span> Article Title</strong>
                        </div>
                        <div class="panel-body ng-scope">
                            <input type="text" ng-model="articleTitle" placeholder="Article Title"/>
                        </div>
                        <section class="panel panel-default">
                            <div class="panel-heading">
                                <strong><span class="glyphicon glyphicon-th"></span> Article Tags</strong>
                            </div>
                            <div class="panel-body ng-scope">
                                <tags-input ng-model="tags" class="ui-tags-input ng-isolate-scope ng-valid ng-valid-max-tags ng-valid-min-tags ng-valid-leftover-text ng-dirty"></tags-input>
                            </div>
                        </section>
                        <section class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Article Body</strong></div>
                            <div class="panel-body">
                                <div text-angular="" ng-model="articleText" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                                <textarea ng-show="showHtml" ta-bind="ta-bind" ng-model="articleText" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                                </textarea>
                            </div>
                        </section>
                        <section>
                            <button ng-click="saveArticle(articleTitle, tags, articleText)">Save</button>
                        </section>
                    </div>
                    <section class="panel panel-default" ng-controller="articlesCtrl">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Articles</strong></div>
                        <div class="panel-body">
                            <div ng-repeat="article in showMe">
                                <div class="panel-heading" ng-click="editTitle = true">
                                    <div ng-hide="editTitle===true">{{article.title}}</div>
                                    <input ng-show="editTitle===true" ng-model="article.title" ng-blur="updateArticleTitle(article.$id,article.title);editTitle=false;">
                                </div>
                                    <code ng-repeat="tag in article.tags">{{tag.text}}</code>
                                <div class="panel-body">
                                    <div text-angular="" ng-init="html = article.body;" ng-model="client.description" class="ui-editor ng-isolate-scope ng-pristine ng-valid ta-root"></div>
                                    <textarea ng-init="html = article.body" ng-show="showHtml" ta-bind="ta-bind" ng-model="article.body" class="ng-scope ng-isolate-scope ng-pristine ng-valid ta-bind ta-html ta-editor form-control ng-hide">
                                    </textarea>
                                </div>
                                <section>
                                    <button ng-click="updateArticle(article.$id, article.body)">Save</button>
                                </section>
                                <div class="panel-footer" ng-init="removeArticle = false;">
                                    <a href ng-show="!removeArticle" ng-click="removeArticle = true">Remove Article</a>
                                    <a href="javascript:;" ng-show="removeArticle" ng-click="api.removeArticle(article.articleURL, article.$id)" class="btn btn-primary" role="button">Yes, remove this article.</a>
                                    <a href="javascript:;" ng-show="removeArticle" ng-click="removeArticle = false"class="btn btn-default" role="button">Cancel</a>
                                    <p><div>ID:</div><pre>{{article.$id}}</pre></p>
                                    <div>URL:</div><pre><code>{{article.articleURL}}</code></pre>
                                </div>
                            </div>
                        </div>
                    </section>
                </tab>
                <tab heading="Media">
                    <div class="panel">Add Media</div>
                    <div class="panel">
                        <uploader data-ng-model="myfile"></uploader>
                    </div>
                    <div data-ng-controller="mediaCtrl">
                        <div ng-repeat="media in showMe">
                            <div class="panel col-sm-3">
                                <div class="panel-heading" ng-click="editTitle = true">
                                    <div ng-hide="editTitle===true">{{media.mediaTitle}}</div>
                                    <input ng-show="editTitle===true" ng-model="media.mediaTitle" ng-blur="saveMedia(media.$id,media.mediaTitle);editTitle=false;">
                                </div>
                                <a ng-href="#/media/{{media.mediaLink }}"><img class="" src="{{media.mediaURL}}" width="100%"></a>
                                <div class="panel-footer" ng-init="removeMedia = false;">
                                    <a href ng-show="!removeMedia" ng-click="removeMedia = true">Remove Media</a>
                                    <a href="javascript:;" ng-show="removeMedia" ng-click="api.removeMedia(media.mediaLink, media.$id)" class="btn btn-primary" role="button">Yes, remove this media.</a>
                                    <a href="javascript:;" ng-show="removeMedia" ng-click="removeMedia = false"class="btn btn-default" role="button">Cancel</a>
                                    <p><div>ID:</div><pre>{{media.$id}}</pre></p>
                                    <div>URL:</div><pre><code>{{media.mediaURL}}</code></pre>
                                </div>
                            </div>

                        </div>
                        </div>
                    </tab>
                </tabset>
        </div>
    </div>
</div>