<div class="page" >

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Articles</strong></div>
        <div class="panel-body">
            <div ng-repeat="article in api.show.articles">
                <a ng-href="#/articles/{{article.articleURL}}">
                    <h3>{{article.title}}</h3>
                    <div ng-repeat="media in article.media"><img ng-src="{{$parent.api.show.media.$getRecord(media).mediaURL}}" width="100%">{{media.mediaURL}}</div>
                    <p ng-bind-html="article.body"></p>
                </a>
                <div class="panel-footer">
                    <p><div>ID:</div><pre>{{article.$id}}</pre></p>
                    <div>URL:</div><pre><code>{{article.articleURL}}</code></pre>
                </div>
                </div>
        </div>
    </section>

</div>