<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span class="logo-icon glyphicon glyphicon-fire"></span>
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li ng-hide="showExtras=true" >
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             id="step3"
                             ><i class="fa fa-bars"></i></a>
            </li>


        </ul>

        <ul class="nav-right pull-right list-unstyled col-xs-12">

            <li class="btn col-sm-6 col-xs-12">
                <div class="btn-group col-xs-12" dropdown="" is-open="status.isopen4">
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle col-xs-12" aria-expanded="false"><i class="fa fa-plug"> Let's Connect</i> </button>
                    <ul ng-click="$parent.$parent.preventClose($event)" class="dropdown-menu col-xs-12" role="menu">
                        <section class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Send an E-mail </strong></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <form role="form" class="ng-pristine ng-valid">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <label for="subject">Subject</label>
                                                <input type="text" class="form-control" id="subject" placeholder="Subject of your inquiry">
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Body</label>
                                                <textarea class="form-control" id="message" placeholder="Please place your message here"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-w-md">Send Message</button>
                                        </form>
                                        <hr>
                                        <section class="panel panel-box">
                                            <div class="panel-left panel-item bg-facebook">
                                                <p class="size-h1"><i class="fa fa-facebook"></i></p>
                                                <p>Facebook</p>
                                            </div>
                                            <div class="panel-item bg-twitter">
                                                <p class="size-h1"><i class="fa fa-twitter"></i></p>
                                                <p>Twitter</p>
                                            </div>
                                            <div class="panel-right panel-item bg-google-plus">
                                                <p class="size-h1"><i class="fa fa-google-plus"></i></p>
                                                <p>Google Plus</p>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </ul>
                </div>
            </li>
            <li class="well-sm line  col-sm-2 col-xs-6">
                <div class="text-center"><a href="mailto:{{ api.show.contact.$getRecord('Email').$value }}"> <span class="glyphicon glyphicon-envelope"> </span> Email Us</a></div>
            </li>
            <li class="well-sm line col-sm-4 col-xs-6">
                <div class="text-center"><span class="glyphicon glyphicon-phone-alt"> </span> <a href="tel:+1{{ api.show.contact.$getRecord('Phone').$value }}">1+{{ api.show.contact.$getRecord('Phone').$value }}</a></div>
            </li>



        </ul>
    </div>

</header>
