<div class="page" data-ng-controller="servicesCtrl">

        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Services</strong></div>
            <div class="panel-body">
                <div ng-repeat="service in showMe">
                    <a ng-href="#/services/{{service.serviceURL}}">
                        <h3>{{service.title}}</h3>
                        <p ng-bind-html="service.description"></p>
                    </a>
                </div>
            </div>
        </section>


    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Services</strong></div>
        <div class="panel-body">
            <div class="col-md-3 col-xsm-6">
                <section class="pricing-table pricing-table-success">
                    <header>Wrought Iron Gates</header>
                    <div class="pricing-body">
                        <div class="pricing-price">
                            <strong>Starting at $2,000</strong>
                        </div>
                        <ul>
                            <li><strong>Simple</strong> Installation</li>
                            <li><strong>Lifetime</strong> Warranty</li>
                            <li><strong>Intruder</strong> Reduction</li>

                        </ul>
                    </div>
                    <footer>
                        <a href="javascript:;" class="btn btn-success">Inquire about gates</a>
                    </footer>
                </section>
                </div>
            <div class="col-md-3 col-xsm-6">
                <section class="pricing-table pricing-table-danger">
                    <header>Home Automation</header>
                    <div class="pricing-body">
                        <div class="pricing-price">
                            <strong>Starting at $3,000</strong>
                        </div>
                        <ul>
                            <li><strong>Protection</strong> online and off</li>
                            <li><strong>Smart</strong> Controls</li>
                            <li><strong>Bleeding-edge</strong> Technology</li>

                        </ul>
                    </div>
                    <footer>
                        <a href="javascript:;" class="btn btn-success">Get Automated</a>
                    </footer>
                </section>
            </div>
        </div>
    </section>



</div>